.card{
  border-color: black;
  color: #000000;
  padding: 10px;
}

.mini-card{
  background-color: darkblue;
  color: white;
}

/*jumbotron used in starter code*/
.jumbotron {
  background-image: linear-gradient(to right, blue, black);
  text-align: center;
  color: white;
  flex-shrink: 0;
  border-radius: 0;
}

